%li
  = form_with(model: task, id: "task-#{task.id}") do |f|
    = f.text_field :description, class: "form-control"
    = f.check_box :done
  = button_to 'X', task_path(task), method: :delete, remote: true
