%li{ id: "task-#{task.id}"}
  = form_with(model: task, method: :patch) do |f|
    .input-group
      = f.check_box :done, class: 'm-auto '#, class: "btn btn-primary"
      = f.text_field :description, class: "form-control text-secondary", disabled: true
      .task-control
        = button_tag(class: 'btn text-secondary up', data: { position: "#{task.position}", project: "#{task.project_id}" }) do
          %i.fas.fa-chevron-up
        = button_tag(class: 'btn text-secondary down', data: { position: "#{task.position}", project: "#{task.project_id}" }) do
          %i.fas.fa-chevron-down
        = button_tag(class: 'btn text-secondary', data: { task: "#{task.id}" }) do
          %i.fas.fa-edit
        = link_to task_path(task), class: 'btn text-secondary', method: :delete, remote: true do
          %i.fas.fa-trash-alt
