%li.project{ id: "project-#{project.id}" }
  = form_with(model: project, method: :patch, class: "form-header d-flex align-items-center") do |form|
    = form.date_field :deadline
    .input-group
      = form.text_field :name, class: "form-control", disabled: true
      .project-control
        = form.submit :edit, class: "btn", :data => {:project => "#{project.id}"}
        = button_tag type: 'button', class: "btn" do
          = link_to project_path(project), class: 'text-white', method: :delete, remote: true do
            %i.glyphicon.glyphicon-play
  #tasks
    = form_with(model: Task.new, id: "new-task") do |f|
      .input-group
        = f.text_field :description, class: "form-control"
        = f.hidden_field :project_id, value: project.id
        .input-group-append
          = f.submit :submit, class: "btn btn-primary"
    %ul#tasks-section
      - project.tasks.sort{|a,b| a.position <=> b.position}.each do |task|
        = render partial: 'tasks/task', locals: {task: task}
